html {
  font-size: 62.5%;
}

:root {
  padding: 1rem;
  --primary: #3d8bc3;
  --success: #14a44e;
  --warning: #dc4b64;

  /* #3da2c3    #646cff */
}

.head {
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.1;
  color: var(--primary);
}

.maincard {
  justify-content: center;
  /* align-items: center; */
  height: 76vh;
  width: 80vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: auto;
  border-radius: 6px;
}

#input-box {
  margin: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  width: 26rem;
  height: 2.2rem;
  border-width: 0px 0px 1px 0px; /* remove border */
}

#input-box:focus {
  outline: none;
}

#input-box:hover {
  /* box-shadow: 0 8px 9px -4px rgba(20, 164, 77, 0.3); */
  box-shadow: 0 8px 9px -4px rgba(20, 164, 116, 0.3);
  transform: translateY(-1px);
}

#buttonBar {
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-evenly;
}

.button {
  border-radius: 6px;
  height: 3.4rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border: none;
}

.button:hover {
  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.38);
  /* box-shadow: 10px 8px 5px -8px rgb(123, 113, 113); */
}

.addBtn {
  color: white;
  background-color: var(--primary);
}

.clearallBtn {
  /* display: flex; */
  justify-content: space-evenly;
  color: white;
  background-color: var(--warning);
}

li {
  list-style: none;
}

#list {
  width: 100%;
  font-size: 1.7rem;
  display: grid;
  grid-template-columns: 60% 20% auto; /* for 3 column */
  /* grid-template-rows: 3.2rem; */
  /* grid-gap: 20rem; */
  margin: 0.5rem 0px;
  padding: 0.7rem 0px;
}

.actionBox {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  margin: 0.8rem 0.4rem 0.8rem 1rem;
  /* border: 1px solid black; */
}

#iconPopOut {
  height: 1.8rem;
  transition: all 0.5s ease;
}

#iconPopOut:hover {
  /* transform: translateX(4px); */
  transform: scale(1.4);
}

.checked-item {
  text-decoration: line-through;
}

.not-checked-item {
  padding: auto;
}

.labelcontent {
  text-align: start;
  padding-left: 1.6rem;
  padding-top: 1rem;
}

/* common style for priority */
.labelBox {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 1.4rem;
  padding: 0.4rem 0;
}

.low {
  color: #069861;
  background-color: #e3f7eb;
}

.medium {
  color: #e4a11b;
  background-color: #f8f1e5;
}

.high {
  color: #dc4b64;
  background-color: #faecec;
}
