.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 40rem;
  height: 18rem;
  background: white;
  color: #000;
  z-index: 10;
  border-radius: 14px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}

.saveBtn {
  color: white;
  background: var(--green);
  border: none;
}

.cancelBtn {
  color: #ffffff;
  background: var(--red);
  border: none;
}

#buttonFlex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

/* .cancelBtn {

  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  transform: translate(-4px, 4px);
} */

/* .cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;


General button shadow :
0 8px 9px -4px rgba(20,164,77,0.3),0 4px 18px 0 rgba(20,164,77,0.2);


} */
